/*
Author:: @CatoMinor3
Version:: 3
Date:: February 7, 2021
Changes log:
- 3.0 - changed : to -

Support: 
- Paypal: https://www.paypal.me/catominor3
- Patreon: https://www.patreon.com/catominor

*/


[data-tag^="chld-"],
[data-tag^="blck-chld-"],
[data-tag^="blck-"] {
display:none;
}


[data-tags~="blck-grey"],
[data-tags-up~="blck-chld-grey"],
[data-tags-up~="chld-grey"] > div:nth-child(2)
{
    /* color: #383d41; */
    background-color: #e2e3e5;
    border: 1px solid #d6d8db; 
    margin-bottom: 5px;
}

[data-tags~="blck-blue"],
[data-tags-up~="blck-chld-blue"],
[data-tags-up~="chld-blue"] > div:nth-child(2)
{
 
  
 /*	 color: #004085;*/
    background-color: #cce5ff;
    /*border-color: #b8daff;*/
  border: solid 1px #b8daff;
  /*border-color: #80BDFF;*/
    margin-bottom: 5px;
}

[data-tags~="blck-green"],
[data-tags-up~="blck-chld-green"],
[data-tags-up~="chld-green"] > div:nth-child(2)
{
 
  /*   color: #155724; */
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  
    margin-bottom: 5px;
}


[data-tags~="blck-red"],
[data-tags-up~="blck-chld-red"],
[data-tags-up~="chld-red"] > div:nth-child(2)
{
 
  /*   color: #721c24;*/
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  
    margin-bottom: 5px;
}

[data-tags~="blck-yellow"],
[data-tags-up~="blck-chld-yellow"],
[data-tags-up~="chld-yellow"] > div:nth-child(2)
{
 
 /*  color: #856404; */
    background-color: #fff3cd;
    
    border: 1px solid #ffeeba;
 
    margin-bottom: 5px;
}