/*
Author:: @CatoMinor3
Version:: 3
Date:: February 7, 2021
Changes log:
- 3.0 - changed : to -

Support: 
- Paypal: https://www.paypal.me/catominor3
- Patreon: https://www.patreon.com/catominor

*/


/* this code hides all block tags */
[data-tag^="chld-"],
[data-tag^="blck-chld-"],
[data-tag^="blck-"] {
display:none;
}


[data-page-links*='"blck-grey"'] > .rm-block-main,
[data-page-links*='"blck-chld-grey"'],
[data-page-links*='"chld-grey"'] > .rm-block-children
{
    /* color: #383d41; */
    background-color: #e2e3e5;
    border: 1px solid #d6d8db; 
    margin-bottom: 5px;
}

[data-page-links*='"blck-blue"'] > .rm-block-main,
[data-page-links*='"blck-chld-blue"'],
[data-page-links*='"chld-blue"'] > .rm-block-children
{
 
  
 /*	 color: #004085;*/
    background-color: #cce5ff;
    /*border-color: #b8daff;*/
  border: solid 1px #b8daff;
  /*border-color: #80BDFF;*/
    margin-bottom: 5px;
}

[data-page-links*='"blck-green"'] > .rm-block-main,
[data-page-links*='"blck-chld-green"'],
[data-page-links*='"chld-green"'] > .rm-block-children
{
 
  /*   color: #155724; */
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  
    margin-bottom: 5px;
}


[data-page-links*='"blck-red"'] > .rm-block-main,
[data-page-links*='"blck-chld-red"'],
[data-page-links*='"chld-red"'] > .rm-block-children
{
 
  /*   color: #721c24;*/
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  
    margin-bottom: 5px;
}

[data-page-links*='"blck-yellow"'] > .rm-block-main,
[data-page-links*='"blck-chld-yellow"'],
[data-page-links*='"chld-yellow"'] > div:nth-child(2)
{
 
 /*  color: #856404; */
    background-color: #fff3cd;
    
    border: 1px solid #ffeeba;
 
    margin-bottom: 5px;
}